/* Semantic UI import */
@import 'semantic-ui';
/* Semantic UI module import */
/* @import 'semantic-ui/collections/menu'; */

.chatbox{
  height: 450px;
}

#link-in-button{
  color: white;
  &:hover{
    color:white;
  }
}

#messages{
  height: 15em;
  overflow: auto;
}