<div class="ui secondary pointing large menu">
  <a class="item">
    Chatroom
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
    <div class="item">
      <div class="ui primary button">
        <%= link_to 'Log in', login_path, id:"link-in-button" %>
      </div>
    </div>
  </div>
</div>