<div class="ui secondary pointing large menu">
  <%= link_to "Chatroom", root_path, class: "item active"%>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <% if logged_in? %>
      <%= button_to "Log out", logout_path, method: :delete, class: "ui item" %>
    <% else %>
    <%= link_to "Login", login_path, class: "ui item" %>
      <div class="item">
        <div class="ui primary button">
          <%= link_to 'Sign up', login_path, id:"link-in-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>